
/* Media query for tablets and larger screens */
@media screen and (min-width: 768px) {

  .body {
    padding: 40px;
    font-family: system-ui;
  }
}
  .col-left {
    flex: 2; /* Take 2/3 of the row width on larger screens */
  }

  .col-right {
    flex: 1; /* Take 1/3 of the row width on larger screens */
  }
  .p_vis {
    width: 100%;
    display: flex;
    align-items: center;
}
  .container_subheada   {
    padding-bottom: 125px;
    padding-top: 125px;
    display: flex;
    flex-direction: row;

display: flex;
flex-direction: row;

}

  .container_subheadb  {
    padding-bottom: 125px;
    padding-top: 125px;
    display: flex;
    flex-direction: row;

        display: flex;
        flex-direction: row-reverse;
 }

 .container_subheadc   {
  padding-bottom: 125px;
  padding-top: 125px;
  display: flex;
  flex-direction: row;

  display: flex;
  flex-direction: row;
  
  }
  
    .container_subheadd   {
      padding-bottom: 125px;
      padding-top: 125px;
      display: flex;
      flex-direction: row;
  
          display: flex;
          flex-direction: row-reverse;
   }

   
   .container_subheade  {
    padding-bottom: 125px;
    padding-top: 125px;
    display: flex;
    flex-direction: row;
  
    display: flex;
    flex-direction: row;
}

.container_subheadf   {
  
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 125px;
  padding-top: 125px;
  display: flex;
  flex-direction: row;
}


.container_subheadg  {
  padding-bottom: 125px;
  padding-top: 125px;
  display: flex;
  flex-direction: row;

display: flex;
flex-direction: row;
}

.container_Rol-results {
  padding-top: 79px;
  display: flex;
}

.column_img{

  text-align: center;
}



.container_Rol-results {
  padding-top: 79px;
  display: flex;
  justify-content: center;
}


.cn_header {
  padding-top: 40px;
  padding-bottom: 70px;
  font-size: 50px;
  color: #000000;
  letter-spacing: 0em;
  line-height: 1.2;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  /* padding: 0; */
  text-indent: 0em;
  border-bottom: none;
  text-align: left;
}

/* TwoColumnLayout.css */
.container_one {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align on small screens */
}

.left-column,
.right-column left-column  {
  padding-left: 41px;
  padding-right: 60px;
  flex-basis: 60%;
  margin-bottom: auto;
}

.left-a {
  padding: 41px;
  flex-basis: 47%;
  margin-bottom: auto;
}
img {
  width: 77%;
  border-radius: 20px;
  height: auto;
}

  
.container_one {
  flex-direction: row;
  justify-content: space-between; /* Separate columns on larger screens */
}

.left-column .left-column {
  flex-basis: 60%;
  margin-bottom: auto;
}
.right-column {
  flex-basis: 40%; /* Adjust the width of the right column */
  
}


  .fullimg{

  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  -webkit-transition: opacity 300ms ease-out;
  -o-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}

.rol {
  padding: 50px;
  max-width: 40%;
}

/* YourComponent.css */

/* Styles for the container */
.container_b {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Styles for rows */
.row_a {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

/* Styles for columns */
.column_a{
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

/* Styles for left and right columns */
.col-left_a {
  flex: 1;
}

.col-right_a{
  flex: 1;
}



/* Media query for larger screens */
@media screen and (min-width: 1024px) {
  .container {
    padding: 30px; /* Increase padding for larger screens */
  }
}

/* Media query for larger screens */
@media screen and (max-width: 768px) {
 


  .body {
    padding: 40px;
    font-family: system-ui;
  }


.rol {
  max-width: 100%;
}
}